.flexSection {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 40px;
  gap: 40px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.tabsBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.typeProductSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px 16px 0;
  row-gap: 32px;
  column-gap: 12px;
}

.productsMenu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-width: normal;
  scrollbar-color: #8585ad #2e3037;
}

.productsMenu::-webkit-scrollbar {
  width: 8px;
  max-width: 1vw;
}

.productsMenu::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.productsMenu::-webkit-scrollbar-track {
  background-color: #2e3037;
  margin-bottom: 52px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  color:#F2F2F3;

}

.name {
  text-align: center;
  color: #F2F2F3;
}
